<nav class="navbar navbar-expand-lg navbar-light bg-info">
  <div class="container">
    <%= link_to image_tag('logo.webp', alt: 'Mi Logo', style: "width:40px;"), root_path %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <% if current_user %>
            <li class="nav-item ml-5">
            <%= link_to "Inicio", root_path, class: "nav-link text-white" %>
            </li>
        <% end %>
        <% if current_user&.operador? %>
            <li class="nav-item ml-5">
            <%= link_to "Recicladores", recyclers_path, class: "nav-link text-white" %>
            </li>
        <% end %>
        
      </ul>
      <ul class="navbar-nav">
        <% if user_signed_in? %>

          <li class="nav-item">
            
            <%= form_for :logout, url: destroy_user_session_path, method: :delete do %>
                <%= submit_tag 'Cerrar sesión', class: "nav-link text-white" %>
            <% end %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Iniciar sesión", new_user_session_path, class: "nav-link text-white" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
